@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.ttf') format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Black.ttf') format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.ttf') format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.ttf') format("truetype");
    font-weight: 500;
    font-style: normal;
}


html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat';
}

.section{
    scroll-margin-top: 4em;
}

.navbar{
    background-color: #031c6d;
}

.bg-primary{
    background-color: #031c6d;
}

.bg-secondary{
    background-color: #ab0500;
}

.bg-tertiary{
    background-color: #056bca;
}

.location:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: #056bca;
}

.icon:hover{
    box-shadow: #fff 0px 0px 15px;
}

.swiper-button-prev {
    background-image: url(../images/icons/prev_arrow.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    transform: scale(1.5);
}

.swiper-button-prev::after {
    display: none;
}
  
.swiper-button-next {
    background-image: url(../images/icons/next_arrow.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    transform: scale(1.5);
}

.swiper-button-next::after {
    display: none;
}

.menu div {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}

#staffMore{
    display: none;
}
#oxygenMore{
    display: none;
}
#spentMore{
    display: none;
}
#equipmentMore{
    display: none;
}
#assistanceMore{
    display: none;
}